/* Navbar */
#navbar-topo a{
  color: #b3b3b3;
}
#navbar-topo a:hover{
  color: #fff;
}
#navbar-topo .subitem{
  color: #4d4d4d;
}
#navbar-topo .subitem:hover{
  color: #4d4d4d;
}
#navbar-topo #btn-entrar{
  border: solid 1px #e6e6e6;
  border-radius: 10px;
}
/* Sections */
section{
  padding-top: 70px;
  padding-bottom: 70px;
}
/* background red */
.bgred{
  background-color: #65140F;
}

.titulo{

}

.sub-titulo{

}
/* Gradiente */
.grad {
  background: linear-gradient(to right, #8D3992 , #FE527A);
}
/* Footer */
footer a{
  color: #b3b3b3;
}
footer a:hover{
  color: #fff;
  text-decoration: none;
}
